.menu-btn {
  position: absolute;
  z-index: 4;
  right: 37px;
  top: 37px;
  cursor: pointer;
  transition: all 1s ease-out; }
  .menu-btn .btn-line {
    width: 33px;
    height: 2px;
    margin: 0 0 5px 0;
    background: #fff;
    background: #fff;
    transition: all 1s ease-out; }
  .menu-btn.close {
    transform: rotate(360deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(40deg) translate(5px, 5px);
      background-color: black; }
    .menu-btn.close .btn-line:nth-child(2) {
      transform: rotate(40deg) translate(2px, 7px);
      background-color: white;
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(4) {
      transform: rotate(-20deg) translate(3px, 2px);
      background-color: black;
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-40deg) translate(5px, -6px);
      background-color: white; }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    overflow: hidden;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #222527;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 1s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #51595e;
    transform: translate3d(0, 100%, 0);
    transition: all 1s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 250px;
      height: 200px;
      background: url("../img/me.jpg");
      border: solid 2px #96ee1a;
      border-radius: 60%;
      background-repeat: no-repeat; }
  .menu .nav-items {
    transform: translate3d(600px, 0, 0);
    transition: all 1s ease-in; }
    .menu .nav-items.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-items.current > a {
      color: #96ee1a; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 4em;
    text-rendering: optimizeLegibility;
    font-variant: small-caps;
    padding: 0.1rem 0;
    font-weight: 200;
    color: #fff;
    text-decoration: none;
    transition: all 1s ease-out; }
    .menu .nav-link:hover {
      color: #96ee1a; }

.nav-items:nth-child(1) {
  transition-delay: 0.15s; }

.nav-items:nth-child(2) {
  transition-delay: 0.3s; }

.nav-items:nth-child(3) {
  transition-delay: 0.45s; }

.nav-items:nth-child(4) {
  transition-delay: 0.6s; }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 5.5rem !important;
      margin-bottom: 1rem; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 16px; }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      background: url("../img/me_small.jpg");
      background-size: cover;
      width: 150px;
      height: 160px;
      padding: 5px; } }

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh; } }

* {
  box-sizing: border-box; }

body {
  background: #51595e;
  color: #fff;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "Kodchasan", sans-serif; }
  body#bg-img {
    background: url(../img/bg-desk.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img .overlay {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(81, 89, 94, 0.6456);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      z-index: -2; }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 6rem;
    line-height: 5.5rem;
    padding-bottom: 1rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 0.4rem;
    background: rgba(95, 105, 110, 0.5); }
  h1.sm-heading-null,
  h2.sm-heading-null,
  h3.sm-heading-null {
    margin-bottom: 5rem;
    padding: 0.2rem 0.4rem; }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #96ee1a; }

main {
  padding: 4rem;
  height: 100%;
  z-index: 4; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }
  main .icons {
    margin-top: 0.4rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a :hover {
        color: #96ee1a;
        transition: all 1s ease-out; }

.special-link {
  -moz-transition: all 0.15s cubic-bezier(0.46, 0.01, 0.14, 1.35);
  -o-transition: all 0.15s cubic-bezier(0.46, 0.01, 0.14, 1.35);
  -webkit-transition: all 0.15s cubic-bezier(0.46, 0.01, 0.14, 1.35);
  transition: all 0.15s cubic-bezier(0.46, 0.01, 0.14, 1.35);
  white-space: nowrap;
  font-family: "Lato";
  font-weight: 900;
  font-size: 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ff4851;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .special-link:after {
    content: attr(href);
    -moz-transition: all 0s linear;
    -o-transition: all 0s linear;
    -webkit-transition: all 0s linear;
    transition: all 0s linear;
    overflow: hidden;
    background-color: #ff4851;
    text-transform: lowercase;
    position: absolute;
    font-size: 10px;
    letter-spacing: 0;
    font-weight: 500;
    bottom: -8px;
    left: 0;
    width: 100%;
    display: inline-block;
    -moz-transform: translate(-15px, 100%);
    -ms-transform: translate(-15px, 100%);
    -webkit-transform: translate(-15px, 100%);
    transform: translate(-15px, 100%);
    padding: 0 15px;
    max-height: 0;
    z-index: -1; }
  .special-link:before {
    content: "";
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: all 0.15s cubic-bezier(0.46, 0.01, 0.14, 1.35);
    -o-transition: all 0.15s cubic-bezier(0.46, 0.01, 0.14, 1.35);
    -webkit-transition: all 0.15s cubic-bezier(0.46, 0.01, 0.14, 1.35);
    transition: all 0.15s cubic-bezier(0.46, 0.01, 0.14, 1.35);
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ff4851;
    bottom: -5px;
    z-index: -2; }
  .special-link:hover {
    color: white; }
    .special-link:hover:before {
      padding: 10px 15px;
      margin-left: -15px;
      bottom: -10px;
      height: 100%; }
    .special-link:hover:after {
      -moz-transition: all 0.25s cubic-bezier(0.46, 0.01, 0.14, 1.35) 0.3s;
      -o-transition: all 0.25s cubic-bezier(0.46, 0.01, 0.14, 1.35) 0.3s;
      -webkit-transition: all 0.25s cubic-bezier(0.46, 0.01, 0.14, 1.35);
      -webkit-transition-delay: 0.3s;
      transition: all 0.25s cubic-bezier(0.46, 0.01, 0.14, 1.35) 0.3s;
      -moz-transform: translate(-15px, 50%);
      -ms-transform: translate(-15px, 50%);
      -webkit-transform: translate(-15px, 50%);
      transform: translate(-15px, 50%);
      padding: 10px 15px;
      max-height: 30px;
      opacity: 1; }

